<% include layout_header %>
<div class="col-md-12">
    <div class="jumbotron">
        <h1>Peacemaker</h1>
        <blockquote>
            <p>조별과제란 공산주의에 대한 학습이다.</p>
            <footer>다만, 공산주의의 실패에 대한 학습이다.<cite title="Source Title"> / Peacemaker 개발자</cite></footer>
        </blockquote>
    </div>
</div>
<% include layout_footer %>