<% include layout_header %>
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">프로젝트 <a class="btn btn-success btn-xs pull-right" href="/project/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 신규 프로젝트</a></div>
		<div class="list-group">
			<% if (projects.length) { %>
			<% for (var i = 0; i < projects.length; i++) { %>
			<a href="/p/<%= projects[i].url %>" class="list-group-item"><%= projects[i].name %></a>
			<% } %>
			<% } else { %>
			<a href="#" class="list-group-item disabled">진행중인 프로젝트가 존재하지 않습니다.</a>
			<% };%>
		</div>
	</div>
</div>
<div class="col-md-9">
	<% include layout_notification %>
</div>
<% include layout_footer %>