<% include layout_header %>
<div class="col-md-6 col-md-offset-3">
	<div class="page-header">
		<h1>안녕하세요 <%= name %>님!</h1>
	</div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/QKcxhQZxvdw" frameborder="0" allowfullscreen></iframe>
	<a class="btn btn-primary" href="/project/new">새 프로젝트</a>
	<a class="btn btn-danger" href="/user/logout">로그아웃</a><br>
	<div class="list-group">
	<% for (var i = 0; i < projects.length; i++) { %>
		<a href="<%= config.url %>p/<%= projects[i].url %>" class="list-group-item"><%= projects[i].name %></a>
	<% }; %>
	</div>
</div>
<% include layout_footer %>