<% include layout_header %>
<div class="col-md-12">
	<div class="jumbotron">
		<h1>Peacemaker</h1>
  	<p>조별과제! 더 이상 망설이지 마세요</p>
  	<p><a class="btn btn-primary btn-lg" href="#" role="button">더 알아보기</a></p>
	</div>
</div>
<% include layout_footer %>
