<% include layout_header %>
<div class="col-md-6 col-md-offset-3">
	<div class="page-header">
		<h1>Peacemaker <small>조별과제에 평화가 깃들기를.</small></h1>
	</div>
	<a class="btn btn-primary" href="/user/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 로그인</a>
	<a class="btn btn-info" href="https://github.com/niceb5y/peacemaker"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 레포</a>
</div>
<% include layout_footer %>
