<% include layout_header %>
<div class="col-md-12">
	<div class="jumbotron">
		<h1>Peacemaker</h1>
  	<p>조별과제에 평화를 가져옵니다. 더이상 무임승차란 없습니다.</p>
  	<p><a class="btn btn-primary btn-lg" href="#" role="button">더 알아보기</a></p>
	</div>
</div>
<% include layout_footer %>
