<% include layout_header %>
<div class="col-md-12">
	<div class="jumbotron">
		<h1>Peacemaker</h1>
  	<p>조별과를 위한 통합 솔루션</p>
  	<p><a class="btn btn-primary btn-lg" href="/about" role="button">더 알아보기</a></p>
	</div>
</div>
<% include layout_footer %>
