<div class="col-md-4">
	<a href="#" class="list-group-item">대시보드</a>
	<a href="/p/<%= project.url %>/calendar" class="list-group-item">캘린더</a>
	<a href="#" class="list-group-item">메모</a>
	<a href="#" class="list-group-item">할 일 목록</a>
	<a href="#" class="list-group-item">채팅</a>
	<a href="https://hangoutsapi.talkgadget.google.com/hangouts/_?gid=756768503179" class="list-group-item" target="_blank">행아웃</a>
	<a href="#" class="list-group-item">연락처</a>
</div>