<div class="col-md-12">
	<hr />
	<p class="text-center">Copyright &copy; <%= config.copy %> All Rights Reserved.</p>
</div>
</div>
<% if (locals.js_b) { for (var i = 0; i < js_b.length; i++) { %>
<script src="/js/<%= js_b[i] %>"></script>
<% }}; %>
</body>
</html>
