<% include layout_header %>
<% include layout_project_sidebar %>
<div id='calendar' class="col-md-10"></div>
<div id='newEvent' class="hidden clearfix">
	<div class="col-md-9 col-sm-10 col-xs-10">
		<h2 class="zero">새 이벤트</h2>
	</div>
	<div class="col-md-1 col-sm-2 col-xs-2">
		<button id="cancel" class="btn btn-danger btn-sm btn-block">취소</button>	
	</div>
</div>
<script>
	$('#cancel').click(function(){
		$('#newEvent').addClass('hidden');
		$('#calendar').removeClass('hidden');
	});
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			customButtons: {
				newEvent: {
					text: '새 이벤트',
					click: function() {
						$('#newEvent').removeClass('hidden');
						$('#calendar').addClass('hidden');
					}
				}
			},
			header: {
				left: 'title',
				center: '',
				right: 'month,agendaDay today prev,next newEvent'
			},
			lang: 'ko',
			dayClick: function(date, jsEvent, view) {
			$('#calendar').fullCalendar('changeView', 'agendaDay');
			$('#calendar').fullCalendar('gotoDate', date);
		 },
		 events: []
		});
	});
</script>
<% include layout_footer %>
