<% include layout_header %>
<% include layout_project_sidebar %>

<div class="col-md-10" ng-app>
	<h1>Freebord</h1>
	<label class="sr-only" for="inputMemo">메모 내용 추가</label>
	<form id="memojang" method="post">
		<input type="hidden" id="project" name="project" value="<%=project.id%>" />
		<input type="text" id="inputMemo" class="form-control" aria-describedby="helpBlock" ng-model="memocontext" ng-maxlength="140" placeholder="메모할 내용을 입력해 주세요" maxlength="140" />
		<p class="text-right">{{memocontext.length||0}}/140</p>
		<div class="color-pickers">
			<div class="color-pick darkblue" onclick="s('darkblue')"></div>
			<div class="color-pick green" onclick="s('green')"></div>
			<div class="color-pick yellow" onclick="s('yellow')"></div>
			<div class="color-pick red" onclick="s('red')"></div>
			<div class="color-pick blue" onclick="s('blue')"></div>
		</div>
	</form>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>내용</th>
				<th>작성자</th>
				<th>시간</th>
		</thead>
		<tbody class="memo_list">
			<tr>
				<td colspan="3" class="loading text-center">불러오는 중...</td>
			</tr>
		</tbody>
	</table>
	
	<center> <!-- deprecated 된 코드이므로 이 외의 해결 방법을 아는 사람은 수정 바람.. -->
		<div class="btn-group movePage"></div>
	</center>
	
</div>
<script>
	var selected = 'blue';
	var currentPage = 1;
	var number_of_memo = 1;
	$('body').ready(function () {
		g(currentPage);
		$('#inputMemo').focus();
		$('body').keydown(function () {$('#inputMemo').focus();});
		$('.blue').css('border', '3px solid'); $('#memojang').submit(function (event) {
			event.preventDefault();
			if($('#inputMemo').val() !== "") {
				$.post("./memo", {
					project:$('#project').val(),
					color: selected,
					content: $('#inputMemo').val()
				}).done(function(data) {
					$('#inputMemo').val('');
					g(currentPage);
				});
			}
		});
	});
	function s(v) {
		$('.darkblue').css('border', 'none');
		$('.green').css('border', 'none');
		$('.yellow').css('border', 'none');
		$('.red').css('border', 'none');
		$('.blue').css('border', 'none');
		$('.' +  v).css('border', '3px solid');
		selected = v;
	}
	function g(p) {
		 $.ajax({
            url:'./memo/get?nc='+Math.round(Math.random()*1000000)+'&page='+p,
            success:function(data){
				var c;
				data = data.substring(8);
				data = JSON.parse(data);
				number_of_memo = data.length;
				$(".movePage > button").remove();
				for(var i = 1; i <= Math.ceil(number_of_memo/10); i++) {
					if(i == currentPage)
						c = '<button type="button" class="btn btn-warning" onclick="javascript:g('+i+')">' + i + '</button>';
					else
						c = '<button type="button" class="btn btn-default" onclick="javascript:g('+i+')">' + i + '</button>';
					$(".movePage").append(c);
				}
				$(".memo_list > tr").remove();
                for(var i = 0; i < data.length; i++) {
					c = "<tr>";
					c += "<td>"+ data[i].content +"</td>";
					c += "<td>"+data[i].name+"</td>";
					c += "<td>"+data[i].color+"</td>";
					c += "</tr>";
					$(".memo_list").append(c);
				}
            }
        });
	}
</script>
<% include layout_footer %>