<% include layout_header %>
<% include layout_project_sidebar %>

<div class="col-md-10" ng-app>
	<h1>메모장</h1>
	<label class="sr-only" for="inputMemo">메모 내용 추가</label>
	<form id="memojang" method="post">
		<input type="hidden" id="project" name="project" value="<%=project.id%>" />
		<input type="text" id="inputMemo" class="form-control" aria-describedby="helpBlock" ng-model="memocontext" ng-maxlength="140" placeholder="메모할 내용을 입력해 주세요" maxlength="140" />
		<p class="text-right">{{memocontext.length||0}}/140</p>
		<div class="color-pickers">
			<div class="color-pick darkblue" onclick="s('darkblue')"></div>
			<div class="color-pick green" onclick="s('green')"></div>
			<div class="color-pick yellow" onclick="s('yellow')"></div>
			<div class="color-pick red" onclick="s('red')"></div>
			<div class="color-pick blue" onclick="s ('blue')"></div>
		</div>
	</form>
</div>
<script>
	var selected = 'blue';
	$('body').ready(function () {$('#inputMemo').focus();
		$('body').keydown(function () {$('#inputMemo').focus();});
		$('.blue').css('border', '3px solid'); $('#memojang').submit(function (event) {
			event.preventDefault();
			if($('#inputMemo').val() !== "") {
				$.post("./memo", {
					project:$('#project').val(),
					color: selected,
					content: $('#inputMemo').val()
				}).done(function(data) {
					$('#inputMemo').val('');
					alert(JSON.stringify(data));
				});
			}
		});
	});
	function s(v) {
		$('.darkblue').css('border', 'none');
		$('.green').css('border', 'none');
		$('.yellow').css('border', 'none');
		$('.red').css('border', 'none');
		$('.blue').css('border', 'none');
		$('.' +  v).css('border', '3px solid');
		selected = v;
	}
</script>
<% include layout_footer %>