<% include layout_header %>
<% include layout_project_sidebar %>
<div class="col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">알림</div>
		<div class="list-group">
			<a href="#" class="list-group-item disabled">새로운 알림이 없습니다.</a>
		</div>
	</div>
</div>
<% include layout_footer %>
