<% include layout_header %>
<div class="col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1><%= user_name %></h1>
  	<p>가입일: <%= register_date %></p>
  	<% if (locals.name) { %>
  	<p><a class="btn btn-primary" href="#" role="button">친구 신청</a></p>
  	<% } else { %>
  	<p>로그인하여 <%= user_name %>님과 친구가 되세요.</p>
  	<p><a class="btn btn-primary" href="/user/login" role="button">로그인</a></p>
  	<% }; %>
	</div>
</div>
<% include layout_footer %>
