<% include layout_header %>


<div class="col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1 class="text-center"><%= result.name %></h1>
  	<p class="text-center">가입일: <%= result.register_date %></p>
  	<% if (locals.name) { %>
    <a class="btn btn-primary btn-block" href="#" role="button">친구 신청</a>
    <% } else { %>
  	<p class="text-center">로그인하여 <%= result.name %>님과 친구가 되세요.</p>
  	<a class="btn btn-primary btn-block" href="/user/login" role="button">로그인</a>
  	<% }; %>
	</div>
</div>
<% include layout_footer %>
