<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<script type="text/javascript" src="/js/angular.js"></script>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<title>register</title>
	</head>
	<body>
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-header">
					<h1>회원가입</h1>
				</div>
				<form action="/user/register" method="POST">
					<div class="form-group">
						<label for="nameInput">이름</label>
						<input type="text" id="usernameInput" class="form-control" name="name" placeholder="이름">
					</div>
					<div class="form-group">
						<label for="usernameInput">ID</label>
						<input type="text" id="usernameInput" class="form-control" name="username" placeholder="ID">
					</div>
					<div class="form-group">
						<label for="passwordInput">PW</label>
						<input type="password" id="passwordInput" class="form-control" name="password" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="mailInput">E-mail</label>
						<input type="email" id="mailInput" class="form-control" name="mail" placeholder="E-mail">
					</div>
					<div class="form-group">
						<label for="phoneInput">휴대폰번호</label>
						<input type="tel" id="phoneInput" class="form-control" name="phone" placeholder="휴대폰번호">
					</div>
					<div class="g-recaptcha" data-sitekey="6Lc9rQkTAAAAANMmcu73j0W8Jo-LffN4CH0Fi8Wq"></div><br/>
					<input type="hidden" name="_csrf" value="<%=csrfToken%>">
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="회원가입">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
