<% include layout_header %>
<div class="col-md-6 col-md-offset-3">
	<div class="page-header">
		<h1>안녕하세요 <%= name %>님!</h1>
	</div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/QKcxhQZxvdw" frameborder="0" allowfullscreen></iframe>
	<a class="btn btn-danger" href="/user/logout">로그아웃</a>
</div>
<% include layout_footer %>